* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Cairo', sans-serif;
	overflow-x: hidden;
	/* background-image: url("./mid/WhatsApp\ Image\ 2023-06-06\ at\ 20.03.12.jpg"); */
}

.container {
	width: 80%;
	margin: 0 auto;
	perspective: 600px;
}

@media (max-width: 992px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.container {
		width: 96%;
	}
}

img {
	all: inherit;
}

ol {
	margin: 30px 0;
}






.hed {
	background-image: url("./mid/WhatsApp\ Image\ 2023-06-06\ at\ 20.03.11.jpg");
	background-size: cover;
	padding: 10px;
	color: aliceblue;
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.hed {
		flex-direction: column;
	}
}

.hed .imgs img {
	display: inline;
	width: 150px;
	height: 150px;
}

.hed .imgs img:first-child {
	width: 110px;
	height: 130px;
}

@media (max-width: 768px) {
	.hed .imgs img {
		display: inline;
		width: 100px;
		height: 100px;
	}
	
	.hed .imgs img:first-child {
		width: 80px;
		height: 100px;
	}
}

.form {
	background-image: url("./mid/WhatsApp\ Image\ 2023-06-06\ at\ 20.03.12.jpg");
	background-size: cover;
	color: #fff;
	padding: 30px 10px;
}

.form .inputs-container {
	width: 100%;
	display: flex;
	gap: 20px;
}

@media (max-width: 768px) {
	.form .inputs-container {
		flex-direction: column;
		gap: 0;
	}
}

.form .inputs-container .inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.form .inputs .input {
	display: flex;
	align-items: center;
	gap: 10px;
}

.form .inputs .input input {
	width: 100%;
}

.form .inputs .input label {
	width: 100px;
}

.form .buttons {

}

.form .buttons button {

}

.sec {
	background-image: url("./mid/WhatsApp\ Image\ 2023-06-06\ at\ 20.03.12.jpg");
	color: aliceblue;
	padding: 1px;
	background-size: cover;
}

.text {
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-size: large;
	letter-spacing: 2px;
	color: #fff
}

.spe {
	background-color: rgba(17, 16, 16, 0.704);
	text-align: center;
	font-size: larger;
	border-style: inherit;
	color: aliceblue;
}

.vid {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.table {
	width: 100%;
	padding: 1px;
	box-shadow: 0 0 11px -1px white;
	border-radius: 20px;
	margin-top: 5%;
	text-align: center;
	font-size: large;
	color: #ffffff;
	letter-spacing: 2px;
	border: 2px solid #c7b8bb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	overflow-x: auto;
}

.table .tr {
	display: grid;
	grid-template-columns: repeat(4, minmax(230px, 1fr));
}

.table .td {
	background-color: rgba(50, 48, 67, 0.549);
	border-radius: 15px;
	padding: 20px;
}

.table .thead .td {
	background-color: rgba(0, 139, 139, 0.447);
	font-weight: bold;
	border-radius: 15px;
}

a {
	color: rgb(214, 126, 44);
	background-color: #131b3a;
	text-align: 50%;
	text-decoration: none;
	border: 1px solid #16104cb3;
	border-radius: 6px;
	justify-content: center;
	flex-grow: 3;
}

a:hover {
	color: brown;
}

.in {
	border: 3px solid rgb(20, 18, 32);
	border-radius: 10px;
}

.in:focus {
	border-color: rgba(33, 36, 178, 0.893);
	outline: none;
}

::selection {
	background-color: black;
	color: rgb(245, 226, 20);
}

.sec .text {
	border: 1px solid rgb(255, 255, 255);
	margin-bottom: 30px;
	border-radius: 70px;
	box-shadow: 0 0 14px 2px white;
	background-color: #434962c1;
	width: fit-content;
	margin: 30px auto;
}

@media (max-width: 768px) {
	.sec .text {
		scale: 0.8;
		text-align: center;
		padding: 10px;
	}
}

.img {
	width: 90%;
	margin: 0 auto;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.img:hover {
	filter: blur(0);
}

.box {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 40px 0;
	transform-style: preserve-3d;
	transition: transform 2s;
	transform-origin: right;
}

.box:hover {
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	-ms-transform:rotateY(-180deg);
	-o-transform:rotateY(-180deg);
}

.box .face {
	position: absolute;
	width: 50%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	color: rgb(255, 255, 255);
	backface-visibility: hidden;
}

.box .front {
	background-image: url("./mid/jeremy-bishop-G9i_plbfDgk-unsplash.jpg");
	background-size: cover;
}

.box .back {
	transform: rotateY(180deg);
}




footer {
	background-image: url("./mid/WhatsApp\ Image\ 2023-06-06\ at\ 20.03.11.jpg");
	background-size: cover;
	padding: 10px;
	padding-bottom: 80px;
	color: aliceblue;
	display: flex;
	flex-direction: column;
}

footer h3 {

}

footer .links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

footer .links a {

}

footer audio {
	margin: 20px auto;
}

footer p {
	width: fit-content;
	margin: 20px auto;
}